@model Fyp_First_Increment.Models.Companydetail
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/Registration_file.cshtml";
}
@{
    int LoginData = int.Parse(Session["LoginId"].ToString());
}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Enter your New password</h4>
            </div>
            @using (Html.BeginForm("UpdatePassword", "Registration"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.User_Password, "Password")
                    @Html.TextBoxFor(model => model.User_Password, new { @class = "form-control", placeholder = "Enter Password", id = "exampleInputPassword1", type = "Password", @minlength = "6" })
                    @Html.ValidationMessageFor(model => model.User_Password)
                </div>
               
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassowrd, "Confirm Password")
        @Html.TextBoxFor(model => model.ConfirmPassowrd, new { @class = "form-control", placeholder = "Retype Password", id = "exampleInputPassword1", type = "Password", @minlength = "6" })
        @Html.ValidationMessageFor(model => model.ConfirmPassowrd)
        @*@Html.Hidden("user_ph", TempData["Phone"])*@
    </div>
          @Html.AntiForgeryToken()      
                <input type="submit" id="Admin" value="Change Your Password" name="Command" title="Admin" class="btn btn-primary btn-block" />
            }
            <div class="text-center">

@if(LoginData!=1)
                    {
                <a href="@Url.Action("CustomerRegister", "Registration", new { Id = @Session["LoginId"] })"><i class='fa fa-user'></i><span>Register an Account</span></a>
}
                <a href="@Url.Action("Login", "Registration", new { Id = @Session["LoginId"] })"><i class='fa fa-user'></i><span>Login Page</span></a>

                @*<a class="d-block small mt-3" href="register.html">Register an Account</a>
                <a class="d-block small" href="login.html">Login Page</a>*@
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}